<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/css/profileAndJournal.css" rel="stylesheet" type="text/css">

<p>&nbsp;</p>
<blockquote>
    &#8220;Innovations towards a Healthy Lifestyle.&#8221;
    <small>
      <em>Gym helper team.</em>
    </small>
</blockquote>
<p>Trademark 2018</p>
  </body>
</html>
