<!DOCTYPE html>
<script>
initApp = function() {
  firebase.auth().onAuthStateChanged(function(user) {
    if (user) {
      // User is signed in.
      var displayName = user.displayName;
      var email = user.email;
      var emailVerified = user.emailVerified;
      var photoURL = user.photoURL;
      var uid = user.uid;
      var phoneNumber = user.phoneNumber;
      var providerData = user.providerData;
      console.log(uid)
      user.getIdToken().then(function(accessToken) {
        document.getElementById('uid').value = uid;

      });

    } else {
      // User is signed out.
    }
  }, function(error) {
    console.log(error);
  });
};
window.addEventListener('load', function() {
  initApp()
});
</script>

<html>
  <head>
    <% include partials/header %>
    <title>User Journal</title>
  </head>
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script src="js/initFirebase.js" ></script>
  <script src=js/journaldata.js></script>
  <!-- Style  -->
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/data.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <!-- End-Style  -->
  <body>
    <div class="page">
      <% include partials/nav %>
      <div class="box">
      <table class="head">
        <tr>
          <td rowspan="2">
              <img src=profile_picture class="profile" alt ="profile_picture" title ="profile_picture" width=100px />
          </td>
          <td>
            <h2 id="name">Name</h2>
          </td>
        </tr>
        <tr>
            <td>
              <p>Achievement&nbsp;&nbsp;&nbsp;</p>
            </td>
            <td>
              <div id="achievement">Achievement</p>
            </td>
        </tr>
      </table>
      </div>


      <!-- TEST -->
<div style="width: 400px;center">
  <canvas id="myChart" width="400" height="400"></canvas>
<script>
  var ref = firebase.database().ref('users/' + uid + '/journal/' + exercise + '/total');
  var totals = firebase.database().ref('exercises/' + exercise);


    var xvalue= snapshot.child('total').val();
    console.log("xvalue: "+ xvalue)




var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
  <div style="width: 400px;;border:1px solid red">
    <canvas id="line" width="400" height="400"></canvas>
<script>
var lineG = document.getElementById("line");
var line = new Chart(lineG, {
    type: 'line',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
  </div>
</div>

<div style="width: 400px;">
  <canvas id="yChart" width="400" height="400"></canvas>
<script>
var tx = document.getElementById("yChart");
var yChart = new Chart(tx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
</div>
      <!-- End-Test -->
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </body>
</html>
