<!DOCTYPE html>

<html>
  <head>
    <% include partials/header %>
    <title>User Journal</title>
  </head>
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script src="js/initFirebase.js" ></script>
  <script src="js/journaldata.js" ></script>
  <!-- Style  -->
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/data.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <!-- End-Style  -->

<script>
var exercise = 'pushups'
var uid = 0;
var ready = false;
initApp = function() {
  firebase.auth().onAuthStateChanged(function(user) {
    if (user) {
      // User is signed in.
      var displayName = user.displayName;
      var email = user.email;
      var emailVerified = user.emailVerified;
      var photoURL = user.photoURL;
      uid = user.uid;
      var phoneNumber = user.phoneNumber;
      var providerData = user.providerData;
      user.getIdToken().then(function(accessToken) {
        document.getElementById('uid').value = uid;
      });
    }
 else {
      // User is signed out.
    }
  }, function(error) {
    console.log(error);
  });
};

window.addEventListener('load', function() {
  initApp()
  makeGraph()
});
</script>

<h2 id="uid">Hello</h2>

  <body>
    <div class="page">
      <% include partials/nav %>
      <div class="box">
      <table class="head">
        <tr>
          <td rowspan="2">
              <img src=profile_picture class="profile" alt ="profile_picture" title ="profile_picture" width=100px />
          </td>
          <td>
            <h2 id="name">Name</h2>
          </td>
        </tr>
        <tr>
            <td>
              <p>Achievement&nbsp;&nbsp;&nbsp;</p>
            </td>
            <td>
              <div id="achievement">Achievement</p>
            </td>
        </tr>
      </table>
      </div>



  <div style="width: 400px;;border:1px solid red">
    <canvas id="line" width="400" height="400"></canvas>
  </div>


<script>
var data = <%- JSON.stringify(data) %>;
var xAxis = <%- JSON.stringify(xAxis) %>;

var lineG = document.getElementById("line");
var line = new Chart(lineG, {
    type: 'line',
    data: {
        labels: xAxis,
        datasets: [{
            label: '# of Votes',
            data: data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
  </div>
</div>


   <!-- End-Test -->
    </div>
  </body>
</html>
