<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>
    <title>User Journal</title>
  </head>

  <!-- Style  -->
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/data.css">

  <!-- End-Style  -->

  <body>
    <div class="page">
      <% include partials/nav %>

      <div class="box">
      <table class="head">
        <tr>
          <td rowspan="2">
          <img id ="profile_pic"  class="profile" alt ="profile_picture" width=100px />
	  </td>
          <td>
            <h2 id="name">Name</h2>
          </td>
        </tr>
      </table>
      </div>


     <form class="mainBody" method="post" action="/fitnessdata">
        <div class="form-row align-items-center">
          <div class="sub-body">
            <div class="col-auto my-1">
              <img src="/images/exercise.jpg" id="exercise" title ="exercise_picture" width=70px />
              <label class="large-text" class="ex" class="mr-sm-2" for="inlineFormCustomSelect">Display Data &nbsp;</label>
              <select id="select-exercise"class="mid-text" name="exercise" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                  <optgroup>
                    <option value=""></option>
                    <option value="pushups">Pushups</option>
                    <option value="pullups">Pullups</option>
                    <option value="situps">Situps</option>
                    <option value="running">Running</option>
                    <option value="swimming">Swimming</option>
                    <option value="bmi">BMI</option>
                    <option value="weight">Weight</option>
		    <option value="walking">Walking</option>
                  </optgroup>
              </select>
            </div>
          </div>

          <div class="sub-body">
            <input name="userid" type="hidden" class="form-control" id="uid" >
            <button class="submit-button" type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>



  <div style="width: 400px;;border:1px solid red;;margin:auto;;text-align:center">
    <canvas id="line" width="400" height="400"></canvas>
  </div>

  <script src="js/initFirebase.js" ></script>
  <script src="js/journaldata.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<!-- Firebase Auth -->
  <script>
  var exercise = 'pushups'
  var uid = 0;
  var ready = false;
  initApp = function() {
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        // User is signed in.
        var displayName = user.displayName;
        var email = user.email;
        var emailVerified = user.emailVerified;
        var photoURL = user.photoURL;
        uid = user.uid;
        var phoneNumber = user.phoneNumber;
        var providerData = user.providerData;
        document.getElementById('name').textContent = displayName;
        document.getElementById('uid').textContent = uid;
        firebase.database().ref('users/' + uid ).once('value').then(function(snapshot) {
            profileImg = snapshot.child('profile_picture').val();
            document.getElementById("profile_pic").src = profileImg;
        });
        user.getIdToken().then(function(accessToken) {
          console.log(uid);
          document.getElementById('uid').value = uid;
  	document.getElementById('name').textContent = displayName;
        });
      }
   else {
        // User is signed out.
      }
    }, function(error) {
      console.log(error);
    });
  };

  window.addEventListener('load', function() {
    initApp()
    makeGraph()
  });
  </script>
<!-- End-Firebase Auth -->

<!-- Chart JS -->
<script>
var data = <%- JSON.stringify(data) %>;
var xAxis = <%- JSON.stringify(xAxis) %>;
var exercise = <%- JSON.stringify(exercise) %>
var lineG = document.getElementById("line");

if (exercise == 'running') {
   var caption = 'Pace per session'
}else if (exercise == 'swimming') {
   var caption = 'Pace per session'
}else if (exercise == 'walking') {
   var caption = 'Pace per session'
}else if (exercise == 'pushups') {
   var caption = 'Total reps over time'
}else if (exercise == 'pullups') {
   var caption = 'Total reps over time'
}else if (exercise == 'situps') {
   var caption = 'Total reps over time'
}else if (exercise == 'bmi') {
   var caption = 'BMI over time'
}else if (exercise == 'weight') {
   var caption = 'Weight over time (kg)'
}else  {
   var caption = 'Data'
}
var line = new Chart(lineG, {
    type: 'line',
    data: {
        labels: xAxis,
        datasets: [{
            label: caption ,
            data: data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
<!-- End-Chart JS -->
  </div>
</div>
    </div>

<% include partials/footer %>
