<!DOCTYPE html>
<html>
  <head>
    <title>Sample FirebaseUI App</title>
    <% include partials/header %>
  </head>
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script src="js/initFirebase.js"></script>
<script src="js/firebaseinfo.js" ></script>


    <h1 id="name"></h1>
    <div id="sign-in-status"></div>
    <div id="uid"></div>

<%include partials/footer%>
