<!DOCTYPE html>
<html>
  <head>
    <title>Sample FirebaseUI App</title>
    <% include partials/header %>
  </head>
  
<% include partials/nav %> 
    <h1 id="name"></h1>
    <div id="sign-in-status"></div>
    <div id="uid"></div>

<%include partials/footer%>
