<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <% include partials/header %>
  </head>

  <!-- Style  -->
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- End-Style  -->
  <link rel="stylesheet" href="/css/owl.carosel.scss">
  <link rel="stylesheet" href="/css/owl.theme.default.scss">
<% include partials/nav %>


<head>
  <div class ="home">
    <strong><i class="far fa-lightbulb"></i> Gym App</strong>
    <p>A web app building for gym users.</p>
    <a class="btn btn-primary btn-xl" href="login">SignUp</a>
  </div>
</head>

<div class="home">
  <h1 id="name"></h1>
  <div id="sign-in-status"></div>
  <div id="uid"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 ">
      <h2 class="home-Header">Meet Friends</h2>
      <p>Group chat based on interest.</p>
      <a class="btn btn-secondary" href="chat" role="button"> View details>></a>
    </div>
    <div class="col-md-4">
      <h2 class="home-Header">Leaderboard</h2>
      <p>Challenge others.</p>
      <a class="btn btn-secondary" href="leaderboard" role="button">View details>></a>
    </div>
    <div class="col-md-4">
      <h2 class="home-Header">Exercise Journal</h2>
      <p>Check your progress frequently.</p>
      <a class="btn btn-secondary" href="journal" role="button">View details>></a>
    </div>
  </div>
</div>


<%include partials/footer%>
