<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <% include partials/header %>
  </head>

  <!-- Style  -->
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- End-Style  -->
  <link rel="stylesheet" href="/css/owl.carosel.scss">
  <link rel="stylesheet" href="/css/owl.theme.default.scss">
<% include partials/nav %>


<head>
  <div class ="home">
    <strong><i class="far fa-lightbulb"></i> Gym App</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a class="btn btn-primary btn-xl" href="login">SignUp</a>
  </div>
</head>

<div class="home">
  <h1 id="name"></h1>
  <div id="sign-in-status"></div>
  <div id="uid"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 ">
      <h2 class="home-Header">Heading One</h2>
      <!-- <img class="home-img"src="images/home/help.jpg"> -->
      <p>Something describing the function</p>
      <a class="btn btn-secondary" href="#" role="button">View details>></a>
    </div>
    <div class="col-md-4">
      <h2 class="home-Header">Heading Two</h2>
      <p>Something describing the function</p>
      <a class="btn btn-secondary" href="#" role="button">View details>></a>
    </div>
    <div class="col-md-4">
      <h2 class="home-Header">Heading Three</h2>
      <p>Something describing the function</p>
      <a class="btn btn-secondary" href="#" role="button">View details>></a>
    </div>
  </div>
</div>


<%include partials/footer%>
