<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <% include partials/header %>
  </head>

  <!-- Style  -->
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- End-Style  -->
<% include partials/nav %>


<head>
  <div id="home">
    <strong><i class="far fa-lightbulb"></i> Gym App</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a id="home-button"class="btn btn-primary btn-xl" href="login">SignUp</a>
  </div>
</head>



<div class="tst">
  <h1 id="name"></h1>
  <div id="sign-in-status"></div>
  <div id="uid"></div>
</div>


<%include partials/footer%>
