<DOCTYPE html>
<html>
  <head>
    <% include partials/header %>
    <title>Sample FirebaseUI App</title>
    <!-- *******************************************************************************************
       * TODO(DEVELOPER): Paste the initialization snippet from:
       * Firebase Console > Overview > Add Firebase to your web app. *
       ***************************************************************************************** -->
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBA5J-Hn2Cl7GBxOZYBqb11B24ckd2yF1M",
    authDomain: "gymapp-fd949.firebaseapp.com",
    databaseURL: "https://gymapp-fd949.firebaseio.com",
    projectId: "gymapp-fd949",
    storageBucket: "gymapp-fd949.appspot.com",
    messagingSenderId: "871486720421"
  };
    firebase.initializeApp(config);
  </script>
  <script>

  var userBio = null;//replace with data from frontend here
  var userActivities = null;//replace with data from frontend
  var otherData = null;//replace with data from frontend
  var database = firebase.database();
  firebase.database().ref('users/' + uid).set({
    bio: userBio,
    activities: userActivities,
    other: otherData
  });
  </script>
  </head>
  <script src="css/profile.css" rel="stylesheet" type="text/css"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>

  <script src="js/initFirebase.js" ></script>
  <body>
    <nav>
        <% include partials/nav %>
    </nav>
    <form method="post" action="/tst">
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Exercise</label>
        <select name="exercise" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Choose ...</option>
          <option value="pushups">Pushups</option>
          <option value="pullups">Pullups</option>
          <option value="situps">Situps</option>
        </select>
    </div>
    <div class="form-row">
      <div class="col">
        <input name="sets" type="text" class="form-control" placeholder="Sets">
      </div>
      <div class="col">
        <input name="reps" type="text" class="form-control" placeholder="Repetitions">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


    
    
    <pre id="object"></pre>
    <div id="sign-in-status"></div>
    <div id="sign-in"></div>
    <div id="account-details"></div>
  </body>
</html>
