<!DOCTYPE html>
<script>
initApp = function() {
  firebase.auth().onAuthStateChanged(function(user) {
    if (user) {
      // User is signed in.
      var displayName = user.displayName;
      var uid = user.uid;
      var exerciseStr = "none";
      var rankOfUsersInLeaderboard = 0;
      console.log("the id is " + uid);
      
      firebase.database().ref('users/' + uid + '/leaderboard/exercise').once('value').then(function(snapshot) {
        exerciseStr = snapshot.val();
        var refLeaderboard = firebase.database().ref("leaderboard/" + exerciseStr);

        console.log("the exercise is: " + exerciseStr);
        console.log ('spacer');
        
        //printing the page in js
        
        document.write(`<html><head><% include partials/header %><title>User Journal</title></head>`);
        /*document.write('<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"/>');
        document.write('<script src="js/initFirebase.js"/>');*/
        //Style
        
        document.write('<link rel="stylesheet" href="/css/nav.css">');
        document.write('<link rel="stylesheet" href="/css/data.css">');
        document.write('<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">');
        /*document.write('<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"/>');*/
        //end style

        document.write('<body><div class="page">' + `<% include partials/nav %>` + '<div class="box"><div class="head">');

        refLeaderboard.orderByValue().on("value", function(snapshot){
          const val = [];
          const key = [];
          var rankOfUsersInLeaderboard = 0;
          

          
          snapshot.forEach(function(data) {
            rankOfUsersInLeaderboard = rankOfUsersInLeaderboard + 1;
            val.push(data.val());
            key.push(data.key);
            document.write('<div><p class="leaderboard_rank">' + rankOfUsersInLeaderboard + '</p><div class="leaderboard"><h2 class="leaderboard_text">'+ data.key + '</h2></div><div class="leaderboard_sets"><h2 class="leaderboard_text">' + data.val() + '</h2></div></div>');
          });
          
          //Trash code
          /*
          const userNames = [];
          var promises = []
          for (i = val.length-1; i>=0; i--){
            promises.push(new Promise((resolve, reject) => {
              firebase.database().ref('users/' + key[i] + '/username').once('value').then(function(snapshotName) {
                rankOfUsersInLeaderboard = rankOfUsersInLeaderboard+1;
                userNames.push(snapshotName.val());
                console.log("the 1st name is: " + snapshotName.val());
                console.log("the 1st val is: " + val[val.length-rankOfUsersInLeaderboard]);
                console.log("the index is: " + rankOfUsersInLeaderboard);
                document.write('<p>hhhhhhh</p>')
                document.write('<div><p class="leaderboard_rank">' + rankOfUsersInLeaderboard + '</p><div class="leaderboard"><h2 class="leaderboard_text">'+ snapshotName.val() + '</h2></div><div class="leaderboard_sets"><h2 class="leaderboard_text">' + val[val.length-1-i] + '</h2></div></div>');
                resolve(snapshotName.val());
              });
            }));
          }

          Promise.all(promises).then((value) => {
            for (i = 0; i<val.length; i++){
              console.log("the name is: " + userNames[i]);
              document.write('<div><p class="leaderboard_rank">' + i + '</p><div class="leaderboard"><h2 class="leaderboard_text">'+ userNames[i] + '</h2></div><div class="leaderboard_sets"><h2 class="leaderboard_text">' + val[i] + '</h2></div></div>');
              var newDiv = document.createElement("div"); 
              var newContent = document.createTextNode(userNames[i]);
              newDiv.appendChild(newContent);
              document.body.appendChild(newDiv);
            }
          });*/


          document.write('</div></div><p>&nbsp;</p><p>&nbsp;</p></div>');
          document.write('</body></html>');
         
        });
      });
      

    } else {
      console.log('user is signed out');
      // User is signed out.
    }
  }, function(error) {
    console.log(error);
  });
};

window.addEventListener('load', function() {
  initApp()
});
</script>
<html>
  <head>
    <% include partials/header %>
    <title>User Journal</title>
  </head>
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script src="js/initFirebase.js" ></script>
  <!-- Style  -->
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/data.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- End-Style  -->
  <body>
    <div class="page">
      <% include partials/nav %>
      <div class="box">
        <div class="head">
          <div id="rank1">
            <p class="leaderboard_rank">1</p>
            <div class="leaderboard">
              <h2 class="leaderboard_text" id="name1">UID</h2>
            </div>
            <div class="leaderboard_sets">
              <h2 class="leaderboard_text" id="sets">Number of sets</h2>
            </div>
          </div>

        </div>
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
<%include partials/footer%>