<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <% include partials/header %>
  </head>

  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script src="js/initFirebase.js" ></script>
  <script src="js/profileinfo.js"></script>

  <!-- Style  -->
  <link rel="stylesheet" href="/css/nav.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- End-Style  -->
  <% include partials/nav %>

  <div class="page">
    <p>&nbsp;</p>
    <div class="box">
    <table class="head">
      <tr>
        <td rowspan="2">
            <img src=profile_picture class="profile" alt ="profile_picture" title ="profile_picture" width=100px />
        </td>
        <td>
            <h1>Name</h1>
        </td>
        <td>
          <div id="name"></div>
        </td>
      </tr>
      <tr>
          <td>
            <p>Achievement&nbsp;&nbsp;&nbsp;</p>
          </td>
          <td>
            <div id="achievement">Achievement</p>
          </td>
      </tr>
    </table>
    </div>

    <div class="mainBody">
    <table>
      <tr>
        <td>
          <img src="/images/id.png" title ="id-icon" width=20px class="icon" />
        </td>
        <td colspan="2">
            <p class="subtitle">User ID:</p>
        </td>
        <td>
            <div id="uid"></p>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/images/phone.png" title ="phone-icon" width=20px class="icon" />
        </td>
        <td colspan="2">
            <p class="subtitle">Phone:</p>
        </td>
        <td>
            <div id="phone"></p>
        </td>
      </tr>
      <tr>
        <td>
            <img src="/images/bio.png" title ="bio-icon" width=20px class="icon" />
        </td>
        <td colspan="2">
            <p class="subtitle">Bio:</p>
        </td>
        <td>
            <div id="biography"></p>
        </td>
      </tr>
    </table>
  </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <%include partials/footer%>
  </div>