<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <% include partials/header %>
  </head>

  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script src="js/initFirebase.js" ></script>

  <!-- Style  -->
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- End-Style  -->
  <% include partials/nav %>
<pid="name"></p>  
  <div class="page">
    <p>&nbsp;</p>
    <div class="box">
    <table class="head">
      <tr>
        <td rowspan="2">
            <img src=profile_picture class="profile" alt ="profile_picture" title ="profile_picture" width=100px />
        </td>
        <td>
          <h2 id="name"></h2>
        </td>
      </tr>
      <tr>
          <td>
            <p>Achievement&nbsp;&nbsp;&nbsp;</p>
          </td>
          <td>
            <div id="achievement">Achievement</p>
          </td>
      </tr>
    </table>
    </div>

    <div class="key_profiles">
      <div class="key_profile">
        <img class="profile_label" src="/images/age.png" />
        <p id="age">20</p>
      </div>
      <div class="key_profile">
          <img class="profile_label" src="/images/gender.svg" />
        <p id="gender">Male</p>
      </div>
      <div class="key_profile">
          <img class="profile_label" src="/images/height.png" />
        <p id="height">180cm</p>
      </div>
      <div class="key_profile">
          <img class="profile_label" src="/images/weight.png" />
        <p id="weight">60kg</p>
      </div>
    </div>

    <div class="mainBody">
      <table>
        <tr>
          <td>
            <img src="/images/id.png" title ="id-icon" class="icon" />
          </td>
          <td colspan="2">
              <p class="subtitle">User ID:</p>
          </td>
          <td>
              <div id="uid"></p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/images/phone.png" title ="phone-icon" class="icon" />
          </td>
          <td colspan="2">
              <p class="subtitle">Phone:</p>
          </td>
          <td>
              <div id="phone"></p>
          </td>
        </tr>
        <tr>
          <td>
              <img src="/images/address.png" title ="address-icon" class="icon" />
          </td>
          <td colspan="2">
              <p class="subtitle">Address:</p>
          </td>
          <td>
              <div id="address"></p>
          </td>
        </tr>
      </table>
    </div>

    <div class="key_profiles">
        <a class="nav-link" href="leaderboard">
          <img src="/images/lb.png" title ="bio-icon" class="profile_link_image" />
        </a>
        <img src="/images/graph.png" class="profile_link_image" />
    </div>
  </div>
<%include partials/footer%>
