.navbar-light .navbar-brand {
    color: #d5520c;
}
.bg-light {
    background-color: #31263e!important;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
li a:hover {
  background-color: #fd7920;
}
.navbar-toggler-icon {
      background-color: white;
}
