
html, body {
  width: 100%;
  height: 100%;
}
h1, h2 {
  font-weight: normal;
  margin: 50px auto;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.profile {
  padding:3.5px;
  border:4px solid rgb(240, 240, 240);
  background-color:white;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.mainBody
{ 
  color: #31263e;
  font-family: 'Bitter', serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2.5px solid rgb(243, 243, 243);
  background-color:white;
  border-radius: 20px;
  margin: 20px auto;
}
.sub-body{
  width: 95%;
  margin: 20px;
  margin-right: 0px;
}
.box
{ 
  overflow: auto;
  color: white;
  font-family: 'Bitter', serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2.5px solid rgb(243, 243, 243);
  background-color:#ff5a00;
  border-radius: 25px;
  margin: 20px auto;
}
.head{
  margin-top: 20px;
  margin-bottom: 20px;
}
.page
{
  background-color: rgb(250, 250, 250);
  height: 100%;
}
.large-text {
  font-size: 0.4in;
  color: 	#31263e;
}
.mid-text {
  font-size: 0.16in;
}
.tiny {
  font-size: 1px;
}
blockquote {
  margin-left: auto;
  margin-right: auto;
}
.submit-button{
  background-color: #31263e;
  color: white;
  border-radius: 25px;
  float: right;
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
}
.subtitle {
  color: #31263e;
  margin-top: 5px;
  margin-bottom: 5px;
}
.icon {
  width: 20px;
  margin-left: 4px;
  margin-right: 2px;
}
.form-row {
  margin: 20px;
}
#select-exercise {
  color: #c72800;
  width: 200px;
  height: 30px;
  margin-bottom:20px;
  margin-left:20px;
}
option {
  font-size: 45px;
}
#exercise {
  margin-bottom:20px;
  margin-right:20px;
}
.ex {
  margin-right: 40px;
}