h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.profile {
  padding:3.5px;
  border:1px solid #78a08e;
  background-color:white;
  border-radius: 5px;
}
#table
{ 
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #66726d;
  box-shadow: 1px 2px #888888;
  background-color:white;
}
.page
{
  background-color: rgb(245, 239, 230);
}
blockquote {
  margin-left: auto;
  margin-right: auto;
}