<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBA5J-Hn2Cl7GBxOZYBqb11B24ckd2yF1M",
    authDomain: "gymapp-fd949.firebaseapp.com",
    databaseURL: "https://gymapp-fd949.firebaseio.com",
    projectId: "gymapp-fd949",
    storageBucket: "gymapp-fd949.appspot.com",
    messagingSenderId: "871486720421"
  };
  firebase.initializeApp(config);
</script>

  <body>
    <h1>You Are signed IN</h1>

    <!-- <script>
      firebase.auth().onAuthStateChanged(function(user){
          if(user){
              console.log(userCredential.additionalUserInfo.username);
          }
      });

    </script> -->

  </body>
</html>
